<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/delimeter.css">
</head>
<body>
    <div style="margin:auto">
    <h4>Nimi Mishra</h4>
    
</div>

    <table id = "delimiter" border="1" cellpadding="5" style="border-collapse: collapse;">
        <tr>
            <td>Name</td>
            <td>_</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>^</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td>}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{</td>
        </tr>
        <tr>
            <td>City</td>
            <td>:</td>
        </tr>
    </table>



  
        <!-- <p>No. of records : <input type="text" id="val"></p> -->
    </div>

    <form action="/searching" method="post">
        <input type="text" name="str" id="S_Id" tabindex="1"  size="80" value="<%= str %>" autofocus>
        <input type="submit" tabindex="2" value="Go" class="btn"> 
    </form>

   
<center><table border="1" cellpadding="5" style="border-collapse: collapse;">
        <tr style="background-color: rgb(0, 184, 15);">
            <!-- <th></th> -->
            <th>
                <div class="btn1">
                    Student Id 
                    
                </div>
            </th>
            <th>
                <div class="btn1">
                    Name
                </div>
            </th>
            <th>
                <div class="btn1">
                    Surname
                </div>
            </th>
            <th>
                <div class="btn1">
                    Age
                </div>
            </th>
            <th>
                <div class="btn1">
                    Phone No
                </div>
            </th>
            <th>
                <div class="btn1">
                    Date Of Birth
                </div>
            </th>
            <th>
                <div class="btn1">
                    Gender
                </div>
            </th>
            <th>
                <div class="btn1">
                    City
                </div>
            </th>
        </tr>
        <% for(let i = 0;i < student.length; i++){%>
            <tr>              
                <td><%= student[i].student_Id %></td>
                <td><%= student[i].firstName %></td>
                <td><%= student[i].lastName %></td>
                <td><%= student[i].age %></td>
                <td><%= student[i].contactNo %></td>
                <td><%= student[i].birthdate %></td>
                <td><%= student[i].gender %></td>
                <td><%= student[i].city %></td>
            </tr>        
        <%}%>
    </table>
</center>
<div style="display: flex; justify-content: center; gap: 20px; align-items: center; text-align: center;">
    <button id="firstpage" class="bn1"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAr0lEQVRIS+2TgQmAMAwE7QZuoiPoRDqCTqYj6CaOYAINtDU0obWgUCEIT/vXfIhpCn+msH9TAWLCn4qohedOUKvzbE7zutJ2gEYbVG8BC/w57RGZBuAaneAwWBcCknZxA5EAWeYIjAGyzWOAV8wlwA4HOqgDarT5hhqbuzsLKaJsiGbIWRAJgN3iPJIhGkAIwU2mRSMwaUmLRpewk9maxzQPou2AW1KVVgFiTP+P6AbI6TQZhNzMlAAAAABJRU5ErkJggg=="/></button>
    <button id="previouspage" class="bn1"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAnElEQVRIS+2T0Q2AIAxEYQM30RF0Ih1BJ9MRdBNH8JpoQvjptULihyT3RXOvPWgMlU+s7B9+gJrwJyNq0PYILWr7KLBOIOYr1N2AWYNYAKn5AeMeOksBXOYCZyZwmzOAV+YsYENhC+3QwOSevgsbkRvCAKQhicoFYQFuiAWQQ2STiy7a83YS18SYM79IW1T13hqRapgX/AA1suoRXYjsHhmBZNpoAAAAAElFTkSuQmCC"/></button>
    <button id="curpage" class="bn1"><%= page %></button>
    <button id="nextpage" class="bn1"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAkElEQVRIS2NkoDFgpLH5DKMWEAzhQRVEAUDnHgDiDwSdjaSAWB+ADF8PxBeA2JEUS4i1QADqen1SLSHWApCnybKEFAvIsoRUC0i2hFwL9gNtMgDii0DsgC/SSbUAFA9EGw7yLikWkGw4KRaQZTgpFsAyGsEwR8/lpAQRTYsKUoofFLWk+IAsS0YtIBhsNA8iACj+IhkevsLkAAAAAElFTkSuQmCC"/></button>
    <button id="lastpage" class="bn1"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsUlEQVRIS2NkoDFgpLH5DKMWEAzhAQ2iBqDzJgDxByRnYhPD6wtcPggA6loPxBeA2BFqCTYxsoNIAKjzABDrI1kCMgxdDNl3WC3DFwdUsYRQJFNsCSELQN6myBJiLdgPtMgAiC8CsQM0sNHFsMYHIQtArifbcJBDCEUyRYbjs4Bil8PSLC4fJAAVzEcKc1D4YhMjO6OBNDYAMc2KCoIuI1YBoVRErDk41Y1aQDAIaR5EAByrPBl28Rs7AAAAAElFTkSuQmCC"/></button>

    <script src="../../javascript/delimiter.js"></script>
</body>
</html>