<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Master</title>
    <link rel="stylesheet" href="/styles/pagination_orderBy.css">
</head>

<body class="flex-center flex-col">
    <table class="border">
        <tr>
            <th class="flex-center">Student ID
                <span class="flex-col-2">
                    <span class="cursor-pointer" id="unique_id_up">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path>
                        </svg>
                    </span>
                    <span class="cursor-pointer" id="unique_id_down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </span>
                </span>
            </th>
            
            <th> Name</th>
            <th> Surname</th>
            <th> age</th>
            <th> email</th>
            <th> phone No</th>
            <th> address</th>
            <th>hobbies</th>
            <th>gender</th>
        </tr>
        <% for(let i=0;i < global_users.length; i++){%>
            <tr class="border">
                <td>
                    <%= global_users[i].unique_id %>
                </td>
                <td>
                    <%= global_users[i].first_name %>
                </td>
                <td>
                    <%= global_users[i].last_name %>
                </td>
                <td>
                    <%= global_users[i]. age %>
                </td>
                <td>
                    <%= global_users[i].email %>
                </td>
                <td>
                    <%= global_users[i].phone_number %>
                </td>
                <td>
                    <%= global_users[i].address %>
                </td>
                <td>
                    <%= global_users[i].hobbies %>
                </td>
                <td>
                    <%= global_users[i].gender %>
                </td>

            </tr>

            <%}%>
    </table>


    <div class="pagination flex-center">
        <span id="double_prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="m12.707 7.707-1.414-1.414L5.586 12l5.707 5.707 1.414-1.414L8.414 12z"></path>
                <path d="M16.293 6.293 10.586 12l5.707 5.707 1.414-1.414L13.414 12l4.293-4.293z"></path>
            </svg></span>
        <span id="prev"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
            </svg></span>
        <span id="count">1</span>
        <span id="next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
            </svg></span>
        <span id="double_next"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.296 7.71 14.621 12l-4.325 4.29 1.408 1.42L17.461 12l-5.757-5.71z"></path>
                <path d="M6.704 6.29 5.296 7.71 9.621 12l-4.325 4.29 1.408 1.42L12.461 12z"></path>
            </svg></span>
    </div>
    <script>
        let total_records = JSON.parse("<%= n %>");
        let particular_records = JSON.parse("<%= limit %>");
        let pages = parseInt(total_records / particular_records);

        let initial_value = 1;
        let value = localStorage.getItem("page-value") ? localStorage.getItem("page-value") : 1;

        //buttons
        let prev = document.getElementById("prev");
        let next = document.getElementById("next");
        let double_prev = document.getElementById("double_prev");
        let double_next = document.getElementById("double_next");
        let count = document.getElementById("count");

        //id's for ordering
        let unique_id_up = document.getElementById("unique_id_up");
        let unique_id_down = document.getElementById("unique_id_down");

        //update when page is refresing
        count.innerText = value;



        //for urls 
        const host = `http://localhost:3000/?`;

        //condition for disable button 

        if (value === "1") {
            prev.classList.add("disable");
            double_prev.classList.add("disable");
        }
        if (value === `${pages}`) {
            next.classList.add("disable");
            double_next.classList.add("disable");
        }


        const addUrlParameter = (name, value) => {
            let searchParams = new URLSearchParams(window.location.search)
            searchParams.set(name, value)
            window.location.search = searchParams.toString();
            console.log(searchParams);
        }

        const removeurlParameter = (value) => {
            let searchParams = new URLSearchParams(window.location.search);
            searchParams.delete(value);
            window.location.search = searchParams.toString();
        }


        const nextPage = () => {
            console.log("next click");
            if (value > 0 && value < pages) {
                localStorage.setItem("page-value", ++value);
                addUrlParameter("p",value);
                // let newUrl = `${host}p=${value}`;
                // window.location.href = newUrl;
                return value;
            }
        }

        const prevPage = () => {
            console.log("prev click");
            if (value <= pages && value > 1) {
                localStorage.setItem("page-value", --value);
                addUrlParameter("p",value);
                // let newUrl = `${host}p=${value}`;
                // window.location.href = newUrl;
                return value;
            }
        }

        const startingPage = () => {
            console.log("starting page");
            if (value <= pages && value > 1) {
                //reset value of page
                value = 1;
                localStorage.setItem("page-value", value);
                addUrlParameter("p",value);
                // let newUrl = `${host}p=${value}`;
                // window.location.href = newUrl;
                return value;
            }
        }

        const endingPage = () => {
            console.log("ending page");
            if (value > 0 && value < pages) {
                value = pages;
                localStorage.setItem("page-value", value);
                addUrlParameter("p",value);
                // let newUrl = `${host}p=${value}`;
                // window.location.href = newUrl;
                return value;
            }
        }

        // const searchParams = new URLSearchParams(window.location.search);
        // console.log(searchParams);

        


        const unique_id_Order = (direction) => {
            if (direction === "unique_id_up") {
                addUrlParameter("sort", "unique_id_ase");
                unique_id_up.classList.remove("disable")
                unique_id_down.classList.add("disable")
            }
            else if (direction === "unique_id_down") {
                addUrlParameter("sort", "unique_id_des");
                unique_id_down.classList.remove("disable")
                unique_id_up.classList.add("disable")
            }
            else {
                removeurlParameter("sort");
            }
        }


        // event handling

        prev.addEventListener("click", () => prevPage());
        next.addEventListener("click", () => nextPage());
        double_prev.addEventListener("click", () => startingPage());
        double_next.addEventListener("click", () => endingPage());
        unique_id_up.addEventListener("click", () => unique_id_Order("unique_id_up"));
        unique_id_down.addEventListener("click", () => unique_id_Order("unique_id_down"));

    </script>
</body>
<!-- <script src="/javascript//script.js"></script> -->



</html>